<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474017321493-s13l4f8om0bf499tmog71hd2d0juhu9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474017321493-s13l4f8om0bf499tmog71hd2d0juhu9s</string>
	<key>API_KEY</key>
	<string>AIzaSyD6oPvLOk_WgbyeWBzdZ5NvttABJlh4xyE</string>
	<key>GCM_SENDER_ID</key>
	<string>474017321493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kido.base</string>
	<key>PROJECT_ID</key>
	<string>ewow-b72d6</string>
	<key>STORAGE_BUCKET</key>
	<string>ewow-b72d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474017321493:ios:b26dbd9de3f141fe59b41c</string>
</dict>
</plist>